@using System.Globalization;
@using Umbraco.Cms.Core.Models.Blocks;
@using Umbraco.Cms.Web.Common.PublishedModels;

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "mainLayout.cshtml";
    var pageTitle = Model?.Value<string>("pageTitle") ?? "";
    var pageName = Model?.Name;
    ViewBag.Title = (!string.IsNullOrEmpty(pageTitle)) ? pageTitle : pageName;

    var dateArticlePublished = Model?.Value<DateTime>("datePublished").ToString("MMMM dd, yyyy") ?? null;
    var articleTags = Model?.Value<IEnumerable<string>>("projectTags") ?? null;

    var sidebarBlockGrid = Model?.Value<BlockGridModel>("sidebarBlockEditor");
    var placeSideBarToLeft = (Model?.Value<bool>("placeSideBarToLeft") == true) ? "sidebar-left" : "";

    var contactInfoHub = Model?.Value<BlockGridModel>("contactInfoSection") ?? null;
}

@await Html.PartialAsync("./partials/static/breadcrumbs.cshtml")

<section id="project-details" class="project-details list-page bg-light">
    <div class="container @placeSideBarToLeft">

        @if (Model != null)
        {
            <div class="article-wrapper">
                <div class="date">
                    <i class="fa-duotone fa-solid fa-calendar-days"></i>
                    <p>@dateArticlePublished</p>
                </div>
                <div class="rich-text-main">
                    @Model.Value("pageContent")
                </div>
                <div class="tag-wrapper">
                    <h4>Tags:</h4>
                    @if (articleTags != null)
                    {
                        foreach (var tag in articleTags)
                        {
                            var queryString = $"?tag={tag}" ?? "";
                            var url = $"/projects" + queryString;
                            <a class="tag" href="@url">@tag</a>
                        }
                    }
                </div>
            </div>
        }

        @if (sidebarBlockGrid != null)
        {
        <div class="sidebar-divider"></div>
        }

        @if (sidebarBlockGrid != null)
        {
            @await Html.GetBlockGridHtmlAsync(sidebarBlockGrid)
        }
    </div>
</section>

@if (contactInfoHub != null)
{
    @await Html.GetBlockGridHtmlAsync(contactInfoHub)
}

<script src="/scripts/validation.js"></script>