@using Umbraco.Cms.Web.Common.PublishedModels;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;

@{
    var selectedImage = Model?.Content?.Value<IPublishedContent>("selectedImage")?.Url().ToLower().Trim() ?? "";
    var imageDescription = Model?.Content.Value<string>("imageDescription") ?? "";
    
    var marginTop = (Model?.Content.Value<bool>("addMarginTop") == true) ? "img-margin-top" : "";
    var centerImage = (Model?.Content.Value<bool>("centerImage") == true) ? "center-image" : "";
    var imageWidth = Model?.Content.Value<int>("imageWidth");
    var imageStyleWidth = imageWidth.ToString() + "%";

    var roundedBorders = (Model?.Content.Value<bool>("roundedBorders") == true) ? "image-borders-rounded" : "";
}

@if(!string.IsNullOrEmpty(selectedImage))
{
    <div class="image-formatting @centerImage" style="width: @imageStyleWidth">
        <img class="@marginTop @roundedBorders" src="@selectedImage" alt="@imageDescription" >
    </div>
}