@using Umbraco.Cms.Web.Common.PublishedModels;

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;

@{
    var selectedImage = Model?.Content?.Value<IPublishedContent>("selectedImage")?.Url().ToLower().Trim() ?? "";
    var imageDescription = Model?.Content.Value<string>("imageDescription") ?? "";

    var marginTop = (Model?.Content.Value<bool>("addMarginTop") == true) ? "img-margin-top" : "";
    var marginRight = (Model?.Content.Value<bool>("addMarginRight") == true) ? "img-margin-right" : "";
    var marginBottom = (Model?.Content.Value<bool>("addMarginBottom") == true) ? "img-margin-bottom" : "";
    var marginLeft = (Model?.Content.Value<bool>("addMarginLeft") == true) ? "img-margin-left" : "";

    var centerImage = (Model?.Content.Value<bool>("centerImage") == true) ? "center-image" : "";
    var imageWidth = Model?.Content.Value<int>("imageMaxWidth");
    var imageWStyleWidth = (imageWidth > 0 )? $"max-width: {imageWidth.ToString()}px;" : "";

    var setImgAbsolute = (Model?.Content.Value<bool>("setImgAbsolute") == true) ? "set-img-absolute" : "";
    var imgTop = (Model?.Content.Value<bool>("setImgTop") == true) ? "set-img-top" : "";
    var imgBottom = (Model?.Content.Value<bool>("setImgBottom") == true) ? "set-img-bottom" : "";
    var imgRight = (Model?.Content.Value<bool>("setImgRight") == true) ? "set-img-right" : "";
    var imgLeft = (Model?.Content.Value<bool>("setImgLeft") == true) ? "set-img-left" : "";

    var roundedBorders = (Model?.Content.Value<bool>("roundedBorders") == true) ? "image-borders-rounded" : "";
}

@if (!string.IsNullOrEmpty(selectedImage) && Model?.Content.Value<bool>("setImgAbsolute") != true)
{
    <div class="image-formatting @centerImage @marginTop @marginRight @marginBottom @marginLeft">
        <img class="@roundedBorders" style="@imageWStyleWidth" src="@selectedImage" alt="@imageDescription">
    </div>
}
else
{
    <div class="image-formatting @centerImage @setImgAbsolute @imgTop @imgBottom @imgRight @imgLeft @marginTop @marginRight @marginBottom @marginLeft">
        <img class="@roundedBorders" style="@imageWStyleWidth" src="@selectedImage" alt="@imageDescription">
    </div>
}